<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
    <meta name="description" content="企业级云寄售平台，安全稳定的数字寄售系统。" />
    <meta name="keywords" content="云寄售,自动发卡,虚拟商品寄售" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#e8f3ff" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>云寄售 - 企业级云寄售平台</title>
    <script type="module" crossorigin src="/templates/home/default/assets/js/index-Y7bu7-oi.js"></script>
    <link rel="modulepreload" crossorigin href="/templates/home/default/assets/js/rolldown-runtime-NMqb_1LM.js">
    <link rel="modulepreload" crossorigin href="/templates/home/default/assets/js/vendor-arco-gwqAWtKw.js">
    <link rel="modulepreload" crossorigin href="/templates/home/default/assets/js/vendor-core-l8wIReId.js">
    <link rel="stylesheet" crossorigin href="/templates/home/default/assets/css/vendor-arco-BwiH_tss.css">
    <link rel="stylesheet" crossorigin href="/templates/home/default/assets/css/index-BvxQZxo7.css">
  </head>
  <body>
    <div id="app">
      <div class="app-loading">
        <div class="loading-dots"><span></span><span></span><span></span></div>
      </div>
    </div>
    <script>
      window.__SERVER_SITE_CONFIG__ = {};
    </script>
  </body>
</html>
